<div class="row" id="usernameContainer">
	<div class="col-md-4 col-md-offset-4 welcomeText text-center">
		<h1>{{welcomeText}}</h1>
		<h3>{{message}}</h3>
	</div>
</div>
<br>
<form method="post" action="/{{actionBtn}}">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 authInputs">
			<input id="username" name="username" placeholder="Username" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 authInputs">
			<input id="password" type="password" name="password" placeholder="Password" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<button class="btn btn-primary pull-right" type="submit" id="submitUser">Submit</button>
		</div>
	</div>
</form>
<br>
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/{{otherAction}}" class="btn btn-success pull-right" type="submit" id="submitUser">{{otherAction}}</a>
		</div>
	</div>